body {
    background: linear-gradient(to right bottom, white, white);
    background-attachment: fixed;
}

p {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0px;
}

#homeLogo {
  width: 25vw;
  height: 25vw;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

#guestLogo {
  width: 25vw;
  height: 25vw;
  left: 45vw;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

#demo2 {
  text-align: left;
  float: left;
}

#demo3 {
  text-align: right;
  float: right;
}

@keyframes animation1 {
  0%   {background-color:transparent; left:137.5vw; top:10vw;}
  37.5%  {background-color:transparent; left:37.5vw; top:10vw;}
  62.5%  {background-color:transparent; left:37.5vw; top:10vw;}
  100% {background-color:transparent; left:0vw; top:0vw;}
}

@keyframes animation2 {
  0%   {background-color:transparent; left:-87.5vw; top:10vw;}
  37.5%  {background-color:transparent; left:12.5vw; top:10vw;}
  62.5%  {background-color:transparent; left:12.5vw; top:10vw;}
  100% {background-color:transparent; left:45vw; top:0vw;}
}